$max-width: 1920px;
$text-color: #fff;
$background: linear-gradient(#0069e3, #0056ba);

$spider-man-616-heigth: 360px;
$mulher-aranha-65-heigth: 300px;
$spider-man-1610-heigth: 324px;
$sp-dr-14512-heigth: 324px;
$spider-ham-8311-heigth: 146px;
$spider-man-90214-heigth: 376px;
$spider-man-928-heigth: 360px;
